/* * {
    text-align: center;
} */

body {
    background-color: lightgray;
}

.container {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#profilePic {
    width: 175px;
    height: 225px;
}

.nav-pills {
    float: right;
    padding-top: 8px;
}

.color {
    background-color: #F8F9FA;
}

